/*Overall layout*/
.container{
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.header{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 120px;
}
.form{
    width: 400px;
    margin: auto;
    padding: 20px;
}
.tweet{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*Background coloring
Body:       #CCF4F1
Header:     #6CC3BD
Container:  #bdeae7
Tweet:      #9CE0DB*/
body{
    background-color: #cddcf4;
}
.header{
    background: #6baec2 url("../Images/twickrtags_text.png") no-repeat center;
    background-size: 50%;
}
input{
    height: 25px;
    border-radius: 5px;
}
.search-field {
    width: 200px;
}
.image-button{
}
.container{
    background-color: #bdeae7;
}
.tweet{
    background-color: #e4f6ff;
}
/*More detailed appearance*/
.tweet{
    background: #e4f6ff url("../Images/twickrtags_button.png") no-repeat right;
    border-radius: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #a5b2b8;
    border-right: 2px solid #a5b2b8;
    padding: 15px;
}
    h4{
        margin-left: 2px;
        display: inline;
    }
    .profilePhoto{
        float: left;
    }
    p{
        margin-top: 50px;
    }
    .containerphoto{
        display: inline-block;
        position: relative;
    }
    #pirateButton{
        width: 70px;
        height: 70px;
    }